.body2 {
    background-image: url('../../pages/auth/background-photo/back.jpg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#exampleInputEmail1, #exampleInputPassword1 {
    width: 80%;
    max-width: 300px;
    height: 40px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
    border-width: 2px;
    margin: 4% auto 0;
}

#emailHelp {
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 4px auto 0;
    width: 80%;
    max-width: 300px;
}

#login-form {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.662);
    width: 90%;
    max-width: 350px;
    padding: 20px;
    border-radius: 2%;
    text-align: center;
}

#login-btn {
    width: 80%;
    max-width: 298px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    margin: 20px auto;
}

#login-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(92, 87, 87, 0.509);
}

.h2-login {
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.h1-login {
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    color: rgb(0, 0, 0);
}

.a-login {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    margin: 10px auto;
    width: fit-content;
}

.a-login:hover {
    color: rgb(255, 255, 255);
}

.icon-login {
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

@media (max-width: 768px) {
    .h1-login {
        font-size: 30px;
    }

    .h2-login {
        font-size: 25px;
    }

    #login-form {
        width: 100%;
        padding: 10px;
    }

    #login-btn {
        width: 90%;
    }
}
