.login-form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #303030;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.249);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    margin-bottom: 8px;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  .backgroud-admin{
    background-image: url(https://t4.ftcdn.net/jpg/02/55/77/03/360_F_255770374_rbmJO9gkkIhMBcyVPc3iW016BCLDvcWc.jpg);
    background-size: cover;
    background-attachment: fixed;
    height:900px;
  }