/* 
.customer-page {
  background: linear-gradient(to right, #b6b6b6, #ffffff);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.customer-list-section {
  margin: 50px;
}


.customer-list-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #545353;
}

.customer-table-th, .customer-table-td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  color: black;  
}

.customer-list-table th {
  background-color: #adadad;
  color: black;
}

.customer-list-table tbody tr:hover {
  background-color: #a2a2a2;
}


.customer-search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  margin-bottom: 10px;
}


.customer-action-icon {
  margin: 0 5px;
  color: #333;
  cursor: pointer;
}

.customer-action-icon:hover {
  color: #007bff;
}


.customer-page-title {
  text-align: center;
  color: black;
} */
