.body1{
  

    background-image: url('../../assets/ERP-Login.webp');
   
    background-size:cover;
    height: 800px;
    background-attachment: fixed;
    
   

  
}
#exampleInputEmail1{
    width: 300px;
    height: 40px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    border-color: brown;
    border-width: 2px;
    margin-left: 7%;
    margin-top: 4%;
}

#exampleInputPassword1{
    width: 300px;
    height: 40px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    border-color: brown;
    border-width: 2px; 
    margin-left: 7%;

}
#emailHelp{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 7%;

}
#login-form{
    margin-left: 38%;
   
    background-color: rgba(0, 0, 0, 0.662);
    width: 350px;
    height: 390px;
    border-radius: 2%;
}
#register-form{
    margin-left: 38%;
   
    background-color: rgba(0, 0, 0, 0.662);
    width: 350px;
    height: 450px;
    border-radius: 2%;

}
#login-btn{
    width: 298px;
    margin-left: 7%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}
#login-btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(92, 87, 87, 0.509);
}
.h2-login{
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:30px
}
.h1-login{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    
    
   
}
.a-login-main{
    margin-left: 7%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    
}
.a-login-main:hover{
    color: rgb(255, 255, 255);
}
#forgot-l{
    margin-left: 58%;
}
.icon-mail{
    margin-left:43%;
    color: antiquewhite;
}
.icon-login{
    margin-left:43%;
    color: antiquewhite;
}
.icon-resetpass{
    margin-left:43%;
    color: antiquewhite;
}