
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px; /* Adjust the margin as needed */
  }
  
  .form-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  .product-container {
    margin-top: 20px;
  }
  
  .product-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .product-input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-button1 {
    padding: 5px 10px;
    background-color: #107803;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  .product-button1 {
    padding: 5px 10px;
    background-color: #000d60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    width: 450px;
    
  }
  .product-button1:hover {
    background-color: #0056b3;
  }
  .h1order{
    color: black;
  }
  
