.canceled-row {
    background-color: rgb(79, 77, 77);
    color: white; 
}
.not-paid {
    background-color: rgb(141, 31, 0);
    font-weight: bold; 
}
.paid {
    background-color: green;
    font-weight: bold;
}
.td-invoice{
    color: black;
}
.modeof-raw{
    background-color: rgb(134, 134, 0);
    color: white;
}