/* 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  

  th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
 
  td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .h3order{
    color: black;
    text-align: center;
    
  } */