
.tordert {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  

.thorder {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
 
.tdorder {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  .h3order{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
  } 
  .search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-form label {
    margin-right: 10px;
  }
  
  .search-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  /* Optional: Style the select dropdown arrow */
  .search-form select::-ms-expand {
    display: none;
  }
  .search-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M2.292 7.292l7-7a1 1 0 0 1 1.414 0l7 7a1 1 0 0 1-1.414 1.414L11 3.414V18a1 1 0 1 1-2 0V3.414L3.707 8.707a1 1 0 0 1-1.414-1.414z" clip-rule="evenodd"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 20px auto;
  }
  