.h2-dealer-history{
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.dealer-history-p{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}

.Back-Icon{
    color: black;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
}