.sales-Heading{
    font-family:'Times New Roman', Times, serif;
    color:black;
    font-weight:bolder;
    margin-left:10%
}
.sales-Heading {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: bolder;
  margin-left: 10%;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
  gap: 10px;
}

.card {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  max-width: 300px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  background: #6b6868;
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  background: linear-gradient(to right, #8f94fb, #ababab);
  border-radius: 8px 8px 0 0;
  color: rgb(242, 242, 242);
  padding: 10px;
}

.card-body {
  font-size: 24px;
  padding: 20px;
}

.card-body p {
  margin: 0;
}
.h4-season-update-heading{
  color:black;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.chart-container {
  width: 80%;
  margin: 20px auto;
}
.pie-container{
  text-align:center;
  font-family:'Times New Roman', Times, serif;

}
.sales-by-exe-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

.sales-by-exe-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.sales-by-exe-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sales-by-exe-table th, .sales-by-exe-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.sales-by-exe-table th {
  background-color: #4CAF50;
  color: white;
  text-transform: uppercase;
}

.sales-by-exe-table tr {
  background-color: #f9f9f9;
}

.sales-by-exe-table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.sales-by-exe-table tr:hover {
  background-color: #f1f1f1;
}
