.form-bulk{
    width:400px;
    margin-left: 35%;
}

.label-bulk-new{
    color:black;
    font-family:'Times New Roman', Times, serif;

}
.h1-add-bulk{
    color:black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;

}