


*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue-color: #0c2f54;
    --dark-color: #535b61;
    --white-color: #fff;
}

ul{
    list-style-type: none;
}
ul li{
    margin: 2px 0;
}

.subject{
    visibility:hidden;
}
.text-dark{
    color: var(--dark-color);
}
.text-blue{
    color: var(--blue-color);
}
.text-end{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: left;
}
.text-bold1 {
    
    font-weight: 700;
    visibility: hidden;
    
    
}
.licus{
    margin-top:0.2cm;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    margin-left: 1.8cm;
}
.cusd1{
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    margin-left: 1.67cm;
    margin-top:0.15cm;
}
.cusd2{
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top:0.15cm;
    margin-left: 1.37cm;
}
.cusd3{
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    margin-left:1.5cm;
    margin-top:0.15cm;
    
}
.cusd4{
    position: absolute;
    
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top:0.29cm
}
.cusd44{
    position: absolute;
    
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top:0.9cm;
}
.cusd45{
    position: absolute;
   
    
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top: -0.3cm;
}
.cusd46{
    position: absolute;
    
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top:2.7cm
}


.text-boldorder{
    visibility:hidden;
}
.ordt{
    position: absolute;
    
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top:2cm
    
    
}
#tdtext{
    visibility: hidden;
}
#ornumber {
    
    margin-left:4.56cm;
    visibility: hidden;
   
}
#ordate{
    margin-left:6.1cm;
    visibility: hidden;
    
   
    

}
#orexe{
    
    margin-left:6.25cm;
    visibility: hidden;
   
}
#orinvoice{
    margin-left:5.1cm;
    visibility: hidden;

    

}
#oridate{
    margin-left:6.1cm;
    visibility: hidden;
   

}
.label {
    visibility: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.table-cell-final{
    visibility:hidden;
}
.table-cell2{
    visibility:hidden;
}






.hr{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}
/* border-bottom */
.border-bottom{
    border-bottom:1px solid transparent;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
    font-size: 14px;
}
.invoice-wrapper{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}
.invoice{
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--white-color);
    padding: 70px;
    border: 1px solid transparent;
    border-radius: 5px;
    min-height: 920px;
}
.invoice-head-top-left img{
    width: 130px;
}
.invoice-head-top-right h3{
    font-weight: 500;
    font-size: 27px;
    color: var(--blue-color);
}
.invoice-head-middle, .invoice-head-bottom{
    padding: 16px 0;
}
.invoice-body{
    border:1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
}
.invoice-body table{
    border-collapse: collapse;
    border-radius: 4px;
    width: 100%;
}
.invoice-body table td, .invoice-body table th{
    padding: 7px;
}
.invoice-body table tr{
    border-bottom:1px solid transparent;
}
.invoice-body table thead{
    background-color: rgba(0, 0, 0, 0.02);
}
.invoice-body-info-item{
    display: grid;
    grid-template-columns: 80% 20%;
}
.invoice-body-info-item .info-item-td{
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.02);
}
.invoice-foot{
    padding: 30px 0;
}
.invoice-foot p{
    font-size: 12px;
}
.invoice-btns{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.invoice-btn{
    padding: 3px 9px;
    color: var(--dark-color);
    font-family: inherit;
    border:1px solid transparent;
    cursor: pointer;
}

.invoice-head-top, .invoice-head-middle, .invoice-head-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}
.h4-invoice{
  text-align: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  
}

.table-row {
  display: flex;
  font-size: 10px;
  color: #000000;
  
  
}

.table-cell {
 
  padding: 45px; 
  border: 1px solid transparent;
  width: 500px; 
  font-size: 13px;
  font-family:Arial, Helvetica, sans-serif;
}
.table-cell1 {
 
    padding: 8px;
    border:1px solid transparent;

    width: 400px; 
    height: 40px;
  }
.table-cell-pay{
  flex: 1;
  padding: 5px; /* Adjust padding as needed */
  border:1px solid transparent;
  margin-bottom: 0px;
  text-align: center;
  visibility: hidden;

}
.table-cell-final{
  flex: 1;
  padding: 5px; /* Adjust padding as needed */
  border:1px solid transparent;
  margin-bottom: 0px;
  text-align: center;
  background-color: black;
  color: white;

}

.image{
  text-align: center;
}

.pp{
  display:inline;
}
.info-container {
  display: flex;
  justify-content: space-between;
  align-items:normal; /* Align items at the baseline for proper vertical alignment */
  
  border:1px solid transparent;
  width: 400px; /* Adjust the width as needed */
  margin-bottom: 0px;
}
.info-item-tot{
    margin-right: 1.5cm;
}


.subject {
  margin: 0; /* Reset margin for the paragraph */
  font-size: 10px;
  color: #000000;
  
  
}
#second{
  position: absolute;
  margin-left: 13.36cm;
  top: 18.4cm;
  color:black;
  font-family:Arial, Helvetica, sans-serif;
  
}
#second2{
    position: absolute;
    margin-left: 14.3cm;
    top: 22cm;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    
  }
  #mod{
    margin-left:-0.6cm;
  }
  
.textheader{
  text-align: center;
  color: #000000;
  visibility: hidden;
  
  
}
.image{
    margin-top: -3%;
    visibility: hidden;
    
}
#print-area{
    border:1px solid transparent;
    
    max-width: auto;
    margin: 0 auto; 
    
}

.tdquantity{
    position: absolute;
    left:8.1cm;
    font-family:Arial, Helvetica, sans-serif;
    
    font-weight: 200;
}
.tddiscount{
    position:absolute;
    left:14.6cm;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.tdtot{
    position:absolute;
    right: 0.9cm;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.fontfamily-td{
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    
}
#tax{
    position: absolute;
    top:19.9cm;
    left:14cm;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
#vat-reg{
    position:absolute;
    color:black;
    left:15cm;
    top:3.7cm;
    font-size:18px
}
#tax-invoice-text{
    position:absolute;
    color:black;
    left:16.9cm;
    top:3cm;
    font-size: 22px;

}