@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --menubar-color: #000000;
  --menuwrap-color: #bba4ff;
  --transition-time: 0.5s;
  --transition-time-short: 0.25s;
  --border: 4px solid var(--menubar-color);
}




.toggle-button {
  position: fixed;
  width: 44px;
  height: 40px;
  top: 25px;
  left: 25px;
  transition: var(--transition-time-short);
  z-index: 1;
  &:hover {
    cursor: pointer;
  }

  .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: var(--transition-time);
  }

  .menu-bar-top {
    border: var(--border);
    border-bottom: none;
    top: 0;
  }

  .menu-bar-middle {
    height: 4px;
    background-color: var(--menubar-color);
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
  }

  .menu-bar-bottom {
    border: var(--border);
    border-top: none;
    top: 22px;
  }
}

.button-open-transition {
  border-color: var(--menubar-color);
  transition: var(--transition-time);
}

.button-open {
  .menu-bar-top {
    @extend .button-open-transition;
    transform: rotate(45deg) translate(8px, 8px);
  }

  .menu-bar-middle {
    background-color: var(--menubar-color);
    transform: translate(250px);
    transition: 0.1s ease-in;
    opacity: 0;
  }

  .menu-bar-bottom {
    @extend .button-open-transition;
    transform: rotate(-45deg) translate(7px, -7px);
  }
}

.menu-wrap {
  background-color: var(--menuwrap-color);
  position: absolute;
  top: 0;
  left: -250px;
  height: 100vh;
  width: 250px;
  overflow: hidden;
  transition: var(--transition-time-short);
}

.menu-show {
  left: 0;
}

.menu {
  padding-left: 0;
  margin-left: 10px;
  position: relative;
  top: 75px;
}

.liexe {
  padding: 20px 20px 0;
  list-style: none;
}

.aexe {
  color: var(--menubar-color);
  font-size: 1em;
  position: relative;
  text-decoration: none;
  
}
